/*
for parent, GRID CONTAINER

display: grid, inline-grid
grid-template-rows:
grid-template-columns:
grid-template-areas
grid-template - shorthand for setting grid-template-rows, grid-template-columns, grid-template-areas
column-gap, row-gap, grid-column-gap, grid-row-gap
justify-items - horizontally align
align-items - vertically align
justify-content - u.a.mint a flexbox-nál, ha nagyobb a konténer mint a gridezett elem,
akkor ezt az elemet tudjuk horizontálisan pozícionálni

align-content - u.a. mint a flexbox-nál, ha magasabb a konténer(szülőelem) mint a gridezett gyermekelem,
akkor ezt az elemet tudjuk vertikálisan pozícionálni

grid - shorthand for grid-template-rows, grid-templatecolumns, grid-template-areas,
grid-auto-rows, grid-auto-columns, grid-auto-flow

for children element
grid-column-start, grid-column-end, grid-row-start, grid-row-end

grid-column, grid-row - Shorthand for grid-column-start + grid-column-end,
and grid-row-start + grid-row-end

grid-area - reference name for the grid-template-areas,
alternatively,can be used as a shorthand for grid-row-start + grid-column-start +
grid-row-end + grid-column-end

justify-self
align-self
place-self - sets both the align-self and justify-self properties in a single declaration
*/

@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  height: 100vh;
  padding: 0 20px;

  .children1 {
    @include childs(1, 2, 1, 4, magenta);
    display: flex;
    align-items: center;
    justify-content: center;

    .text {
      background-color: #2ecc71;
      border-radius: 5px;

      p {
        padding: 15px 10px;
      }
    }
  }

  .children2 {
    @include childs(2, 5, 1, 2, green);
  }

  .children3 {
    @include childs(2, 4, 2, 4, blue);
  }

  .children4 {
    @include childs(4, 5, 2, 4, red);
  }
}
