.row-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.column-wrapper {
  border: 3px solid black;
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
