/* type selector */
ul {
  list-style-type: none;
}

/* class selector */
.item {
  color: blue;
}

.checked {
  font-weight: bold;
}

#lastelement {
  color: red;
}

/* Descendant Сombinator (element element) - leszármazott kombinátor*/
section h2 {
  color: green;
}

/* direct child combinator (element > element) - közvetlen gyermek kombinátor*/
section > h2 {
  color: royalblue;
}

/* adjacent  sibling combinator - szomszédos testvér kombinátor*/
/* a h2 szintjén lévő első p elemre vinatkozik */
h2 + p {
  color: tomato;
}

/* Subsequent-sibling combinator - a h2 szintjén lévő összes p elemre vinatkozik*/
h2 ~ p {
  color: tomato;
}

/* Attribute Selector */

/* minden olyan elemre vonatkozik amely tartalmaz class attribútumot, az mindegy, hogy mi az értéke */
[class] {
  color: blueviolet;
}

/* csak olyan megadott elemre(li) vonatkozik amelynek van accesskey atrribútuma */
li [accesskey] {
  color: blueviolet;
}

/* minden olyan elemre amelynek megvan adva a class mint item  */
[class="item"] {
  color: blueviolet;
}

/* olyan elemre vonatkozik amelynek a class-ja tartalmazza az item értéket */
[class~="item"] {
  color: blueviolet;
}

/* minden olyan elemre vonatkozik amelynek class értéke item vagy item- karakterekkel kezdődik */
[class|="item"] {
  color: blueviolet;
}
/* minden olyan elemre vonatkozik amelynek class értéke it karakterekkel kezdődik */
li[class^="it"] {
  color: blueviolet;
}

/* minden olyan elemre vonatkozik amelynek class értéke checked-re végződik*/
li[class$="checked"] {
  color: blueviolet;
}
/* minden olyan elemre vonatkozik amelynek class-ja tartalmazza a checked értéket, vagyis az attribútumértékében tudunk keresni szövegrészeket*/
[class*="check"] {
  color: blueviolet;
}

/* Pseudo-classes -  pszeudoosztály önmagában nem létezik, egy szelektorhoz kell csatolni. Beállítja a szelektornak az adott állapotát, amelyhez kapcsolódik.

:link
:visited
:active
:focus
:hover
:not
:first-child
:last-child
:after
:checked
:nth-child() */

/* Pseudo elmenets -a szeletor kiegészítése, amellyel a HTML struktúrában még nem definiált elem stílusát lehet beállítani

::after
::before
::first-line
::first-letter
::selection */
