body{
    font-size: 24px;
}

p{
    text-align: justify;
    font-size:70%;
}

h1,h2{
    text-align: center;
}

.subscribe_button{

    background-color: red;
    color: white;
    border: none;
    height: 36px;
    width: 105px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;
}

.subscribe_button:hover{

    background-color: green;
    opacity: 0.5;
}

.subscribe_button:active{

    background-color: blue;
}

.join_button{

    background-color: white;
    color: rgb(41, 118, 211);
    border-color: rgb(41, 118, 211);
    border-style: solid;
    border-width: 1px;
    height: 36px;
    width: 62px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
}

.tweet_button{

    background-color: rgb(2, 158, 255);
    color: white;
    border: none;
    height: 36px;
    width: 74px;
    border-radius: 18px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}