/*
for parent

flex-direction:row,column
flex-wrap:wrap,nowrap
flex-flow :row/column wrap/nowrap
justify-content
align-items
align-content
gap,row-gap, column-gap



for children
order
flex-grow
flex-basis, flex-shrink
flex - shorthand for flex-grow, flex-shrink and flex-basis
align-self
*/

.parent {
  border: 2px solid yellow;
  display: flex;

  gap: 10px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding: 20px 20px;
  flex-flow: row wrap;
}

.children {
  background-color: #95d7d7;
  height: 100%;
  width: 200px;
  padding: 0 7px;
  flex-grow: 1;
  align-self: flex-start;
}

.flexgrow2 {
  flex-grow: 2;
}
.flexgrow3 {
  flex-grow: 5;
}

.children h2,
p {
  text-align: justify;
}
